html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 구도 */
#mycomment-wrap {
    text-align: center;
    min-height: calc(100vh - 230px); /* footer 높이를 빼준다. */
}
#mycomment-wrap-center {
    display: inline-block;
    width: 1280px;
}

/* 마이페이지 설명, 정보 */
#mycomment-info {
    text-align: left;
}

#mycomment-userinfo {
    text-align: left;
    display: flex;
    align-items: center;
}

#mycomment-userinfo h1 {
	margin: 0;
}

/* 마이페이지 네비게이션 */
#mycomment-nav {
    display: flex;
    align-items: center;
}

#mycomment-nav ul {
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    left: -39px;
}

#mycomment-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#mycomment-nav hr {
    width: 57px;
    height: 2px;
    border: none;
    background-color: dodgerblue;
    position: relative;
    left: -693px;
    top: 15px;
}

#mycomment-delete-user {
    position: relative;
    left: 830px;
}

#mycomment-delete-user {
    color: red !important;
}

/* 게시판 설명 */
#mycomment-info {
    text-align: left;
}

/* 게시판 */
#mycomment-board {
    width: 1280px;
    min-height: 100px;
}

#mycomment-board-table {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    width: 100%;
}

#mycomment-first-tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    height: 47px;
}

tr {
    border: 1px solid rgb(165, 165, 165);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 35px;
}

tr:hover:not(#mycomment-first-tr) {
  background: lightgray;
}

td a {
	text-decoration: none;
	color: black;
}

td a:hover {
    text-decoration: underline;
    cursor: pointer;
}

th:nth-child(1) {
    width: 45%;
}

th:nth-child(2) {
    width: 45%;
}

td:nth-child(1) {
    text-align: left;
    max-width: 500px;;
}

td:nth-child(2) {
    text-align: left;
    padding-left: 15px;
    max-width: 500px;
}

td {
	height: 40px;
}

td:nth-child(2):hover {
	cursor: pointer;
}

/* 페이지네이션 */
#mycomment-pagenation {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#mycomment-pagenation ul {
    width: 350px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

#mycomment-pagenation ul li a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: black;
}

/* 페이지네이션 active 시 빨갛게 변함 */
.active {
    font-weight: bold;
    border: 1px solid black;
}