html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 구도 */
#view-wrap {
    text-align: center;
    min-height: calc(100vh - 230px); /* footer 높이를 빼준다. */
}
#view-wrap-center {
    display: inline-block;
    width: 1280px;
    min-height: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}

/* 버튼s */
#view-nav {
    display: flex;
    align-items: center;
}

#view-nav-button {
    width: 195px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

#view-nav-button button {
    width: 60px;
    height: 30px;
    background: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #354649;
}


#view-nav-button button a {
	text-decoration: none;
	color: black;
}

#view-nav-button button:last-child {
    background: lightgray;
}

#view-nav-button button:hover, #view-nav-button button:hover a {
	background: rgb(86, 86, 86);
	border: none;
	color: white;
}

#view-wrap-center h3 {
	cursor: pointer;
}

/* 제목 */
#post-title {
    text-align: left;
    position: relative;
    top: -22px;
}

/* 글 정보 */
#post-info {
    text-align: left;
    position: relative;
    top: -35px;
}

/* 본문 */
#post-content {
	max-width: 100%;
    min-height: 250px;
    text-align: left;
}

#post-content span img {
	max-width: 100%;
    height: auto;
}

/* 좋아요 */
#post-like {
	margin-top: 30px;
    text-align: left;
    position: relative;
    left: -8px;
}

#afterLike, #beforeLike {
    border: none;
    background: none;
    cursor: pointer;
}